@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');
.LogoText{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.Typewritter_Text{
    max-width: max-content;
    font-size: 3rem;
    line-height: 1;
}
.Typewritter_Cursor{
    font-size: 3rem;
}